header, form {
    margin-bottom: 30px;
}

header img {
    max-width: 40px;
    margin-right: 15px;
}

#addForm {
    display: none;
}

.form-check {
    display: inline-block;
    min-width: 150px;
}

#notes_filter {
    margin: 20px;
    text-align: center;
}