<form id="addForm" action="/save/" method=post>
    <h2>Ajouter une note</h2>

    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" name="date" id="date" />
    </div>

    <div class="mb-3">
        <label for="former" class="form-label">Formateur</label>
        <select name="former" id="former" class="form-select">
            {% for former in formers %}
            <option>{{former.get('name')}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="note" class="form-label">Note</label>
        <textarea name="note" id="note" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label for="students" class="form-label"></label>
        {% for student in students %}
        <div class="form-check">
            <input type="checkbox" id="{{student.get('name')}}" class="form-check-input" name="students"
                value="{{student.get('name')}}" />
            <label for="{{student.get('name')}}" class="form-check-label">{{student.get('name')}}</label>
        </div>
        {% endfor %}
    </div>

    <div>
        <input type="submit" value="enregistrer" class="btn btn-outline-primary float-right" />
    </div>
</form>