<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/static/logo.png" alt="Simplon.co">
            </a>

            <h1>Journal de bord</h1>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="https://simplon.co" target="_blank" class="nav-link px-2 text-secondary">Simplon</a></li>
                <li><a href="https://simplonline.com" target="_blank" class="nav-link px-2 text-white">Simplonline</a>
                </li>
                <li><a href="/" class="nav-link px-2 text-white">Notes</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <select name="" id="trigger_select" class="form-select form-control-dark">
                    <option value="*">** voir tous **</option>
                    {% for student in students %}
                    <option>{{student.get('name')}}</option>
                    {% endfor %}
                </select>
            </form>

            <div class="text-end">
                <button type="button" id="trigger_add" class="btn btn-warning">Ajouter une note</button>
            </div>
        </div>
    </div>
</header>