<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>

    {% include "header.html" %}

    <div class="container">

        {% if message %}
        <div class="alert alert-success alert-dismissible fade show">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        {% include "addForm.html" %}
        {% include "noteList.html" %}
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery.dataTables.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>