
<table class="table" id="notes">
    <thead>
        <tr>
            <th>Date</th>
            <th>Formateur</th>
            <th>Apprenant(s)</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>

        {% for note in notes %}

        <tr>
            <td>{{note.get("date")}}</td>
            <td>{{note.get("former")}}</td>
            <td>{{", ".join(note.get("students")) or ""}}</td>
            <td>{{note.get("note")}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>